@font-face {
	font-family: 'PlaywriteHU';
	src: url('../../fonts/play-write-magyarorsag/PlaywriteHU-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlaywriteHU';
	src: url('../../fonts/play-write-magyarorsag/static/PlaywriteHU-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlaywriteHU';
	src: url('../../fonts/play-write-magyarorsag/static/PlaywriteHU-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlaywriteHU';
	src: url('../../fonts/play-write-magyarorsag/static/PlaywriteHU-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlaywriteHU';
	src: url('../../fonts/play-write-magyarorsag/static/PlaywriteHU-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
