@import './vars.css';
@import './fonts.css';
@import 'tailwindcss';

body {
	background: var(--color-background);
	color: var(--color-text-body);
	font-family: 'PlaywriteHU', Arial, Helvetica, sans-serif;
}
